<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<typeAliases>
	  <typeAlias alias="board77" type="model.board.BoardDto"/>
	  <typeAlias alias="member77" type="model.member.MemberDto"/>
	</typeAliases>



	<mappers>
		<mapper resource="/mybatis/board.xml"/>
		<mapper resource="/mybatis/member.xml"/>
	</mappers>
</configuration>